.layout {
    font-family: arial, sans-serif, verdana;
    display: block;
    margin: auto;
    font-size: 12px;
    width: 100%;
    overflow: auto;
    height: 100%;
    outline-offset: -1px;
    /*    max-height: 200px; */
}

.container {
    display: block;
    overflow: auto;
    font-size: 12px;
    width: 100%;
}

#myDiv {
    display: block;
    overflow: auto;
    width: 100%;
    background-color: blueviolet;
}

form {
    width: 100%;
    display: block;
    margin: 0 auto;
}

form label,
input {
    /*    display: table-cell;*/
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: auto;
}

tbody.scroll {
    border-top: 0px solid black;
    font-size: 1.0em;
    line-height: 18px;
    overflow: auto;
    /*    scrollbar-color: auto; */
    /*    max-height: 15em; */
}

thead.formato,
thead th {
    position: sticky;
    top: 0;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 1.0em;
    text-align: center;
    background: #3e87e0;
    border-bottom: solid 3px rgba(0, 0, 0, 0.4);
    color: rgb(238, 238, 247);
    text-shadow: 2px 2px 1px rgba(43, 37, 37, 0.4);
    border-right: 2px solid white;
}

tbody td,
thead th {
    /*text-align: right; */
    border-right: 2px solid white;
    word-wrap: break-word;
}

tbody td:last-child,
thead th:last-child {
    border-right: 1px solid white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.interlineado tr:hover {
    background-color: #ddd;
}

#solido.nohover:hover {
    background-color: #3e87e0;
}